@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
} 

.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05050507;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 5px 10px 5px 10px;
    outline: none;
    margin: 5px;
    width: 100%;
}


.inputbtn {
    outline: none;
    background-color: aqua;
    border: none;
    border-radius: 3px;
    padding: 8px;
   margin-top: 20px
   
}

.inputbtn:hover {
    background-color: rgba(0, 255, 255, 0.489);
}

ul {
   list-style: none; 
   margin-top: 20px;
   font-weight: 900;
}